# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master

pool:
  vmImage: 'ubuntu-latest'
  demands:
    - npm

steps:
- task: Npm@1
  displayName: Install npm dependencies
  inputs:
    command: 'install'

- task: Npm@1
  displayName: Build application
  inputs:
    command: 'custom'
    customCommand: 'run build-prod'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'dist/angular-test/'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

